<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.TodoMapper">
	<resultMap type="com.example.domain.Todo" id="todoResult">
		<id column="id" property="id" />
		<result column="todo_text" property="todoText" />
		<result column="grade" property="grade" />
		<result column="limit_date" property="limitDate" />
		<result column="finish_date" property="finishDate" />
	</resultMap>
	<insert id="insertTodo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO todos (todo_text,grade,limit_date,finish_date) VALUES (#{todoText},#{grade},#{limitDate},#{finishDate})
	</insert>
	<select id="findByTodo" resultMap="todoResult">
		SELECT id,todo_text,grade,limit_date,finish_date FROM todos WHERE finish_date='9999-12-31' 
		<if test="selectType == 1">
			ORDER BY id DESC
        </if>
        <if test="selectType == 2">
			ORDER BY id ASC
        </if>
        <if test="selectType == 3">
			ORDER BY grade ASC,id DESC
        </if>
        <if test="selectType == 4">
			ORDER BY grade DESC,id DESC
        </if>
        <if test="selectType == 5">
			ORDER BY limit_date DESC,id DESC
        </if>
        <if test="selectType == 6">
			ORDER BY limit_date ASC,id DESC
        </if>
	</select>
	<select id="findByFinishedTodo" resultMap="todoResult">
		SELECT id,todo_text,grade,limit_date,finish_date FROM todos WHERE finish_date!='9999-12-31' ORDER BY id DESC
	</select>
	<update id="updateFinishDate">
		UPDATE todos SET finish_date=#{finishDate} WHERE id=#{id}
	</update>
	<update id="updateTodo">
		UPDATE todos SET todo_text=#{todoText},grade=#{grade},limit_date=#{limitDate} WHERE id=#{id}
	</update>
	<delete id="deleteTodo">
		DELETE FROM todos WHERE id=#{id}
	</delete>
</mapper>