<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo管理アプリ</title>
    <link href="/src/main/resources/static/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

	<h1>TODO管理</h1>

    <!-- TODO追加フォーム -->
    <section class="form-container">
        <form name="addForm">
            内容：<input type="text" size="40" name="todoText">
            <br>
            優先度：
            <input type="radio" name="grade" value="高い">高い
            <input type="radio" name="grade" value="普通">普通
            <input type="radio" name="grade" value="低い">低い
            <br>
            期限：
            <input type="date" name="limitDate">
            <button id="add-btn" class="add" type="button">追加</button>
        </form>
    </section>

    <section class="main-container">
    
        <!-- 完了待ちTODO一覧 -->
        <div class="list">
            <h3>完了待ち一覧</h3>
            <br>
            <hr class="hr-style1">
            <ul>
                <li>
                    内容：ダミー
                    <br>
                    優先度：ダミー
                    <br>
                    期限：ダミー
                    <br>
                    <button class="done">完了</button>
                    <button>削除</button>
                    <hr class="hr-style2">
                </li>
                <li>
                    内容：ダミー
                    <br>
                    優先度：ダミー
                    <br>
                    期限：ダミー
                    <br>
                    <button class="done">完了</button>
                    <button>削除</button>
                    <hr class="hr-style2">
                </li>
            </ul>
        </div>

        <!-- 完了待ちTODO一覧 -->
        <div class="list">
            <h3>完了一覧</h3>
            <br>
            <hr class="hr-style1">
            <ul>
                <li>
                    内容：ダミー
                    <br>
                    完了日：ダミー
                    <br>
                    <button>削除</button>
                    <hr class="hr-style2">
                </li>
            </ul>
        </div>

    </section>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:src="@{/js/add-todo.js}"></script>
</body>
</html>
