<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo管理アプリ</title>
    <link href="/src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/src/main/resources/static/js/add-todo.js"　th:src="@{/js/add-todo.js}"></script>
</head>
<body>

	<h1>TODO管理</h1>

    <!-- TODO追加フォーム -->
    <section class="form-container">
        <form name="addForm">
            内容：<input type="text" size="40" name="todoText">
            <br>
            優先度：
            <input type="radio" name="grade" value=1>高い
            <input type="radio" name="grade" value=2>普通
            <input type="radio" name="grade" value=3>低い
            <br>
            期限：
            <input type="date" name="limitDate">
            <button id="add-btn" class="add" type="button">追加</button>
        </form>
    </section>

    <section class="main-container">
    
        <!-- 完了待ちTODO一覧 -->
        <div class="list">
            <h3>完了待ち一覧</h3>
            <div class="cp_ipselect cp_sl01">
				<select id="selector">
  					<option value=1>追加日 降順</option>
  					<option value=2>追加日 昇順</option>
  					<option value=3>優先度 高い順</option>
  					<option value=4>優先度 低い順</option>
  					<option value=5>期限 降順</option>
  					<option value=6>期限 昇順</option>
				</select>
			</div>
			<br>
            <hr class="hr-style1">
            
            <ul id="todoList"></ul>
        </div>

        <!-- 完了待ちTODO一覧 -->
        <div class="list">
            <h3>完了一覧</h3>
            <br>
            <hr class="hr-style1">
            <ul id="finishList"></ul>
        </div>

    </section>
	
</body>
</html>
